.modalDefault {
  background: black;
  color: #fff;
  border: none;
  width: 100%;
  max-width: 650px;
  margin: 0px auto;
  padding: 15px;
  box-sizing: border-box;
}
.modalDefault::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
